/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*
 * Styles */
body
{
	overflow: hidden;
}

#map
{
	width: 75%;
	float: left;
	position: fixed;
	top: 0px;
	left: 0px;
}

#content
{
	float: right;
	width: 23%;
	padding: 1%;
	background-color: #fcfcfc;
}

#content .share
{
	position: absolute;
	bottom: 0;
	padding: 1% 0 0.5%;
	background-color: #ffffff;
	border-top: 1px solid #f2f2f2;
	width: 25%;
}

#content .social-button
{
	float: left;
	margin-left: 5px;
}

#content .social-button:first-child
{
	margin-left: 0px;
}

/* Controls */
#controls
{
	position: absolute;
	right: 2%;
}

#controls .navigation
{
	background-image: url(../images/arrow-tilemap.png);
	background-color: none;
	background-repeat: none;
	display: block;
	float: left;
	width: 24px;
	height: 0px;
	overflow: hidden;
	padding-top: 24px;
}

#controls .navigation.prev
{
	background-position: left 24px;
	margin-right: 5px;
}

#controls .navigation.prev:hover
{
	background-position: 24px 24px;
}

#controls .navigation.next
{
	background-position: left top;
}

#controls .navigation.next:hover
{
	background-position: 24px top;
}



/*
 * Typography */
.typography
{
	font-family: 'Roboto Condensed', sans-serif;
}

.typography h1
{
	font-size: 28px;
	margin-bottom: 10px;
}

.typography h2
{
	font-size: 22px;
	margin-bottom: 10px;
}

.typography h3
{
	font-size: 22px;
	margin-bottom: 10px;
}

.typography p
{
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 12px;
}


/*
 * Interfaces */
 
 /* Start interface */
.start
{
}

.start #map
{
	width: 100%;
}

.start #content
{
	float: right;
}

.start #content .typography,
.start .share
{
	opacity: 0;
}


/* Running interface */
.running #content
{
}

.running #content .typography,
.running .share
{
	opacity: 1;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}